numpy==2.0.1
pandas==2.2.2
scikit-learn==1.5.1
scipy==1.14.0
joblib==1.4.2
plotly==5.23.0
geopy==2.4.1
folium==0.17.0
streamlit==1.37.0
streamlit-folium==0.22.0
tinydb==4.8.0
cryptography==43.0.0
openpyxl==3.1.5
pymongo==4.8.0
